/*common shared styles*/
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/*header styles*/
.banner{
    display: flex;
    margin: 0px;
    background-color: rgba(130, 233, 224, 0.877);
    padding: 50px 200px 0px 150px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    
}
.banner-info{
    max-width: 400px;
    margin-bottom: 80px;
}
.banner-head{
    font-size: 60px;
    font-weight: 800;
    color: #272727;
}
.banner-des{
    font-size: 15px;
    font-weight: 400;
    color: #272727;
    margin-bottom: 50px;
}
.but-prim{
    font-size: 20px;
    font-weight: 800;
    background-color: #E55473;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    border: none;
}
.banner-pic{
    width: 500px;
    margin-bottom: -5px;
}
/*main styles*/

.sec1{
    margin-left: 60px;
    margin-right: 90px;
}
.sec-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.sec-des{
    font-size: 14px;
    color: #272727;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 10px;
    margin-bottom: 80px;
    
}
.sec-cont{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    gap: 20px;
    height: 400px;
    margin-bottom: 200px;
}
.pic-sec11{
    background-color: aqua;
    padding:100px 30px 0px 30px;
 
    border-radius: 45% 45% 0% 0% ;
    width: 300px;
    
}
.pic-sec12{
    background-color: rgb(202, 195, 206);
    padding:100px 30px 0px 30px;
    border-radius: 45% 45% 0% 0% ;
    width: 300px;
    
}
.pic-sec13{
    background-color: rgb(230, 177, 197);
    padding:100px 30px 0px 30px;
    border-radius: 45% 45% 0% 0% ;
    width: 300px;
}
.featured-pic{
    width: 300px;
    height: 300px;
    margin-bottom: -5px;
}
.pic-title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;

}
/*hot deal section*/
.hot-deal-section{
    display: flex;
    background-color: #ece2e4;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px 30px  50px;
    margin-bottom: 100px;
}
.but-second{
    text-align: center;
    margin-left: 300px;
    font-size: 20px;
    font-weight: 800;
    background-color: #E55473;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    border: none;
}
.deal-inf{
    width: 50%;
}
.pink{
    color: #E55473;
}
/* instagram section */
.instagram-sec{
    margin: 50px 150px;
}
.insta-cont{
    display: flex;
    gap:10px;
    width: 100%;
}
.insta-pic{
    width: 250px;
}